<body>
  <div class="container">
    <div class="products">
      <div class="product-outer-box">
        <a [routerLink]="['./wrg_pant_1.html']"><img src="..\assets\images\men\wrg_pant_1.jpg"></a>
        <p>Roadster <br>  Olive Green Joggers <br>Rs. 500 </p> 
      </div>
      <div class="product-outer-box">
        <a><img src="..\assets\images\men\wrg_shirt_3.jpg"></a>
        <p>Wrogen <br>  checked shirt <br>Rs. 600 </p>
       </div>
      <div class="product-outer-box">
        <img src="..\assets\images\men\wrg_shoe_1.jpeg">
        <p>Wrogen <br> Black Sneakers <br>Rs. 1600 </p>
       </div>
      <div class="product-outer-box">
        <img src="..\assets\images\men\wrg_belt_2.jpg">
        <p>Zara <br> White leather Belt <br>Rs. 900 </p>
       </div>
      <div class="product-outer-box">
        <img src="..\assets\images\men\wrg_tshirt_1.jpeg">
        <p>Roadster <br> Maroon Cotton T-shirt <br>Rs. 900 </p>
      </div>
    </div>
  </div>
</body>
