<body>
  <div class="container">
    <div class="products">
      <div class="product-outer-box">
        <a href=""><img src="..\assets\images\women\Designer-Top-For-Jeans.jpg"></a>
        <p>Roadster <br>  Maroon Designer-Top-For-Jeans <br>Rs. 500 </p> 
      </div>
      <div class="product-outer-box">
       <a href=""> <img src="..\assets\images\women\ehanic_Kurti.jpg"></a>
        <p>W <br>  Ehanic_Kurti <br>Rs. 1100 </p>
       </div>
      <div class="product-outer-box">
       <a href=""><img src="..\assets\images\women\jeans.jpg"></a>
        <p>Wrogen <br> Blue Torn Jeans <br>Rs. 1600 </p>
       </div>
      <div class="product-outer-box">
       <a href=""><img src="..\assets\images\women\salwar_suit.png"></a> 
        <p>Zara <br> Salawar Suit <br>Rs. 1900 </p>
       </div>
      <div class="product-outer-box">
       <a href=""><img src="..\assets\images\women\silk-saree.jpg"></a> 
        <p>zara <br>Ethanic Saree <br>Rs. 2200 </p>
      </div>
    </div>
  </div>
</body>

